import argparse
from typing import Any, Dict, List, Optional

import tensorflow as tf

from {{ project }} import experiment, featurizer, metadata
from {{ project }}.config import Log
from {{ project }}.network import transformer
from {{ project }}.typing import Mode, Tensor


def model_fn(
    features: Tensor,
    labels: Optional[Tensor] = None,
    mode: Mode = tf.estimator.ModeKeys.TRAIN,
    params: Optional[Dict[str, Any]] = None
) -> tf.estimator.EstimatorSpec:
    """Model function for the estimator model.

    Args:
        features (tf.Tensor): A valid Tensor coming from `inputs.py`.
        labels (tf.Tensor): A tensor that could be None during prediction or
            return from `inputs.py`.
        mode (str): Mode to which estimator runs in.
            See `tf.estimator.ModeKeys` for details.
        params (Dict[str, Any]): A dictionary mapping of that contains all
            info from arg parser. Defaults to None.

    Returns:
        tf.estimator.EstimatorSpec: Generic tensorflow estimator spec.
    """
    # Create feature columns.
    feature_columns = featurizer.create_feature_columns(params)
    Log.warn(f'Feature columns: {feature_columns}')

    is_training: bool = (mode == tf.estimator.ModeKeys.TRAIN or
                         mode == tf.estimator.ModeKeys.EVAL)

    loss, predictions = None, None
    train_op, training_hooks = None, []

    # Retrieve inputs & targets from feature columns.
    feature_inputs, target_inputs = experiment.feature_column(
        features, labels, params
    )

    # NOTE: The actual model is created as a submodule that can be imported
    # independently from project to project.
    model = transformer.EncoderTransformer(
        params['num_layers'], params['d_model'],
        params['num_heads'], params['dff'],
        input_vocab_size=params['input_vocab_size'],
        target_size=params['target_size'],
        pe_input=params['input_vocab_size'],
        rate=params['dropout_rate']
    )

    # Training.
    if is_training:
        # Optimizer definition.
        optimizer = tf.keras.optimizers.Adam(
                learning_rate=params['learning_rate'],
                beta_1=0.9, beta_2=0.98, epsilon=1e-9
        )

        # Checkpoint.
        ckpt = tf.train.Checkpoint(
            step=tf.compat.v1.train.get_global_step(),
            model=model, optimizer=optimizer
        )

        # Loss function.
        # TODO: Loss definition goes here...
        with tf.GradientTape() as tape:
            # Making predictions.
            pred = model(feature_inputs, training=is_training)
            # Loss function.
            loss = tf.reduce_mean(
                tf.losses.mean_squared_error(target_inputs, pred),
                name='loss',
            )

        variables = model.trainable_variables
        gradients = tape.gradient(loss, variables)

        # Only during training.
        if mode == tf.estimator.ModeKeys.TRAIN:

            train_op = tf.group(optimizer.apply_gradients(
                zip(gradients, variables)),
                ckpt.step.assign_add(1)
            )

            # Logging hooks.
            training_hooks.append(tf.estimator.LoggingTensorHook(tensors={
                "loss": loss,  # Loss
                "pred": pred,  # price prediction.
            }, every_n_secs=10))

    # TODO: Prediction definition goes here...
    else:
        # Making predictions.
        pred = model(feature_inputs, training=is_training)

        # Predictions & input embeddings.
        predictions = {
            'predictions': pred,
        }
        Log.debug(f'Predictions: {predictions}')

    return tf.estimator.EstimatorSpec(
        mode=mode,
        predictions=predictions,
        loss=loss,
        train_op=train_op,
        training_hooks=training_hooks,
    )


def create_estimator(args: argparse.Namespace) -> tf.estimator.Estimator:
    """Creates estimator model from `model_fn` with `RunConfig`
       based on `args`.

    Args:
        args (argparse.Namespace): Parsed command line arguments.

    Returns:
        tf.estimator.Estimator: TF estimator model.
    """
    # Estimator run configuration.
    run_config = tf.estimator.RunConfig(
        model_dir=args.job_dir,
        tf_random_seed=args.seed,
        log_step_count_steps=args.log_steps,
        # change if you want to change frequency of saving checkpoints
        save_checkpoints_secs=args.checkpoint_every_sec,
        keep_checkpoint_max=args.num_checkpoint_to_save,
    )

    # Create TF estimator from model_fn.
    estimator = tf.estimator.Estimator(model_fn=model_fn,
                                       model_dir=args.job_dir,
                                       config=run_config,
                                       params=vars(args),
                                       warm_start_from=args.warm_start_ckpt)

    return estimator


def create_keras(args: argparse.Namespace) -> tf.keras.Model:
    """Creates and compiles Keras model based on `args`.

    Args:
        args (argparse.Namespace): Parsed command line arguments.

    Returns:
        tf.keras.Model: Compiled Keras model.
    """
    # NOTE: The actual model is created as a submodule that can be imported
    # independently from project to project.
    # TODO: Model initialization.
    # model: tf.keras.Model = ...
    model = transformer.EncoderTransformer(
        args.num_layers, args.d_model,
        args.num_heads, args.dff,
        input_vocab_size=args.input_vocab_size,
        target_size=args.target_size,
        pe_input=args.input_vocab_size,
        rate=args.dropout_rate
    )

    # Model loss & optimizer definition.
    loss = tf.keras.losses.BinaryCrossentropy(from_logits=True)
    optimizer = tf.keras.optimizers.RMSprop(learning_rate=args.learning_rate)
    metrics = ['accuracy']

    model.compile(
        optimizer=optimizer,
        loss=loss,
        metrics=metrics
    )

    return model
