#!/bin/bash

REGION="us-central1"
TIER="BASIC_GPU" # BASIC | BASIC_GPU | STANDARD_1 | PREMIUM_1
RUNTIME_VERSION=2.4
PYTHON_VERSION=3.7

MODEL_NAME="{{ project }}" # change to your model name
MODEL_VERSION="{{ version }}" # change to version in `setup.py` (or `setup.cfg`)
BUCKET="lotlinxdata/${MODEL_NAME}" # change to your bucket name

# After running: `python setup.py sdist`.
DIST_PACKAGE=dist/${MODEL_NAME}-${MODEL_VERSOIN}.tar.gz
PACKAGE_PATH={{ project }}  # this can be a gcs location to a zipped and uploaded package

# Tear down previously built packages
if [ -d dist/ && -d "${PACKAGE_PATH}.egg-info" ]; then
  rm -rf dist/ "${PACKAGE_PATH}.egg-info"
fi

# Build the package.
python setup.py sdist


# Training & evaluation GCS path.
TRAIN_FILES=gs://lotlinxdata/bq-exports/chug/chug_published_feed/csvgz/training/chug_published_feed-training-20200424-*.csv.gz
EVAL_FILES=gs://lotlinxdata/bq-exports/chug/chug_published_feed/csvgz/test/chug_published_feed-test-20200424-*.csv.gz

# Format to change the exported saved model (CSV or JSON).
EXPORT_FORMAT="CSV"
RUNTIME="estimator"

CURRENT_DATE=`date +%Y%m%d_%H%M%S`
JOB_NAME=${MODEL_NAME}_${TIER}_${CURRENT_DATE}
MODEL_DIR=gs://${BUCKET}/${JOB_NAME}
# JOB_NAME=tune_${MODEL_NAME}_${CURRENT_DATE} # for hyper-parameter tuning jobs

echo "Submitting model to ai-platform for training..."

gcloud ai-platform jobs submit training \
        ${JOB_NAME} \
        --staging-bucket gs://lotlinx-ml-packages \
        --job-dir ${MODEL_DIR} \
        --runtime-version ${RUNTIME_VERSION} \
        --python-version ${PYTHON_VERSION} \
        --region ${REGION} \
        --scale-tier BASIC-GPU \
        --module-name=${PACKAGE_PATH}.task \
        --package-path=${PACKAGE_PATH}  \
        --packages ${DIST_PACKAGE} \
        -- \
        --train-files ${TRAIN_FILES} \
        --eval-files ${EVAL_FILES} \
        --export-format ${EXPORT_FORMAT} \
        --compression-type GZIP \
        --job-dir ${MODEL_DIR} \
        --train-batch-size 2048 \
        --train-steps 100000 \
        --num-epochs 50 \
        --runtime ${RUNTIME} \
        --no-use-MLS

# notes:
# use --packages instead of --package-path if gcs location
# add --reuse-job-dir to resume training