#!/bin/bash

REGION="us-central1"
TIER="BASIC_GPU"                   # BASIC | BASIC_GPU | STANDARD_1 | PREMIUM_1

RUNTIME_VERSION=2.4
PYTHON_VERSION=3.9

MODEL_NAME="{{ project }}"     # change to your model name
BUCKET="lotlinxdata/${MODEL_NAME}"  # change to your bucket name

PACKAGE_PATH={{ project }}  # this can be a gcs location to a zipped and uploaded package
TRAIN_FILES=gs://lotlinxdata/bq-exports/chug/chug_published_feed/csvgz/training/chug_published_feed-training-20200424-*.csv.gz
EVAL_FILES=gs://lotlinxdata/bq-exports/chug/chug_published_feed/csvgz/test/chug_published_feed-test-20200424-*.csv.gz

# Input format for exported (saved) models [CSV or JSON].
EXPORT_FORMAT="CSV"
RUNTIME="{{ runtime }}"

CURRENT_DATE=`date +%Y%m%d_%H%M%S`
JOB_NAME=${MODEL_NAME}_${TIER}_${CURRENT_DATE}
MODEL_DIR=trained_model/${JOB_NAME}
#JOB_NAME=tune_${MODEL_NAME}_${CURRENT_DATE} # for hyper-parameter tuning jobs

echo "Training model locally..."

gcloud ai-platform local train \
        --module-name=${PACKAGE_PATH}.task \
        --package-path=${PACKAGE_PATH}  \
        -- \
        --train-files ${TRAIN_FILES} \
        --eval-files ${EVAL_FILES} \
        --compression-type GZIP \
        --job-dir ${MODEL_DIR} \
        --export-format ${EXPORT_FORMAT} \
        --num-epochs 5 \
        --train-batch-size 512 \
        --train-steps 10 \
        --runtime ${RUNTIME} \
        --no-use-MLS

# notes:
# use --packages instead of --package-path if gcs location
# add --reuse-job-dir to resume training